$color-grey: #343a40;
$color-grey-light: #f1f3f5;
$color-white: #fff5f5;
$color-red: rgb(240, 62, 62, 0.8);
$color-shadow: rgba(60, 59, 59, 0.2);
$color-grey-light: #e9ecef;
$margin-small: 3.6rem;

$fontsize-header-1: 5.2rem;
$fontsize-medium: 1.8rem;
/*

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
line-height: normal-text 1.5
              header below 1.5
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
