body {
  padding: 1.6rem;
}

section:not(:last-child) {
  margin-bottom: 9rem;
}

.header {
  // linear-gradient(to right bottom, rgba($color-primary-light, 0.801), rgba($color-primary-dark, 0.664)), url(../img/hero-small.jpg);
  margin-bottom: 9rem;
  min-height: 100vh;
  position: relative;
  //prettier-ignore
  background-image: linear-gradient(to right ,rgb(52, 58, 64, .8),rgba(50, 52, 54, 0.7)),url(../../img/bat.jpg);
  background-size: cover;
  background-position: center;
  grid-column: full-slide/full-end;
  // clip-path: polygon(0 0, 0 100%, 100% 90vh, 100% 0);
}
.booking__link {
  &:link,
  &:visited {
    font-size: 2rem;
    background-color: $color-red;
    padding: 1.2rem 3.6rem;
    border-radius: 100rem;
    color: $color-white;
    margin-top: $margin-small;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.5s;
  }
  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 0.5rem 1rem $color-shadow;
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.section_about {
  padding: 9rem 0;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 6.4rem;
}
.section_feature {
  grid-column: full-slide/full-end;

  background-image: linear-gradient(
      to right,
      rgba(52, 58, 64, 0.8),
      rgba(50, 52, 54, 0.7)
    ),
    url(../../img/cover.jpg);
  background-size: cover;
  background-position: center;
  // height: 80vh;
  max-width: 100vw;
  padding: 9rem 0;
  transform: skewY(-6deg);

  & > * {
    transform: skewY(6deg);
  }
}

.section__order {
  // padding: 9rem 0;
  grid-column: center-start/center-end;
}

.section__review {
  grid-column: full-slide/full-end;

  // height: 50vh;
  padding: 6rem 3.2rem 6rem 3rem;
}

.pallarax {
  // transform: skewY(-7deg);
  grid-column: full-slide/full-end;
  background-image: url(../../img/megas.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 9rem 0;
  z-index: -100;
}
